@import "../preset.css";
.card {
  color: var(--color-fg);
  border-collapse: collapse;
  transition-property: color, border-color;
  @apply bg-bg text-fg border-border border-b;
  background: url(red.png);
}
